@model int
<div class="container row">
    <div class="col-12 text-center">
        <marquee direction="down"><h1 class="text-center" style="color:black; font-size: 2em;">Order Successfully</h1></marquee>
        <br />
        <img src="~/images/Delivery-Scooter-PNG-Cutout.png" height="300px" />
    </div>
    <div class="col-12 text-center" style="color:#000; font-size: 2em;">
        <br />
        Thank you for your order! 
        <br />
    </div>
</div>