@model ASM1670.Models.Category

<div class="book-container">
    <div class="book-detail-header">
        <h1>Delete Category</h1>
    </div>
    <div  style="padding: 10px 30px;">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <hr>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <hr>
        </dl>
        <form asp-action="Delete" >
            <div class="form-group" sstyle="margin-left: 30px; margin-top: -20px;">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                <input type="hidden" asp-for="Id" />
                <input type="submit" class="btn btn-primary" value="Delete" style="background: #a80000"/>
            </div>
        </form>
    </div>
</div>