<div class="book-container">
    <div class="book-detail-header">
        <h1>Welcome to see Help Screen</h1>
    </div>
    <div style="padding: 0 10px;">
        <h3>Our application is a simple application, you can display or buy goods right on our system:</h3>
        <p>After you visit FPT Book Shop, you should proceed to create an account depending on your intended use.</p>
        <p>If you want to become a bookshop owner, create an account with Role: </p>
        <h2>Store Owner: </h2>
        <ul>
            <li>With the Role StoreOwner, you can submit a request to create category for admin approval, then create to display your products. Especially, you can manage order list of customer.</li>
        </ul>
        <h2>User: </h2>
        <ul>
            <li>you can participate in purchases, order products from the shop, and at the same time can see a detailed list of information about the products that you have ordered.</li>    
        </ul>
    </div>
</div>
