@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="book-container">
    <div style="padding: 20px;">
        <h1>Privacy Principles at FPT Book Shop</h1>

        <ul>
            <li><strong>Secure Transactions:</strong> Implement robust encryption protocols for online transactions to protect customer payment information and ensure secure financial transactions.</li>
            <li><strong>Anonymous Browsing:</strong>Allow customers to explore the bookshop's website without the need for mandatory account creation, preserving their anonymity until they decide to make a purchase or engage further.</li>
            <li><strong>Opt-In Communications:</strong> Request explicit consent before sending promotional emails or newsletters, respecting customers' preferences for communication and ensuring they have control over the information they receive.</li>
            <li><strong>Data Minimization:</strong> Collect only essential customer information necessary for transactions and order fulfillment, minimizing the amount of personal data stored to reduce potential privacy risks.</li>
            <li><strong>Transparent Privacy Policy:</strong>  Clearly articulate the bookshop's privacy practices in a concise and easily accessible privacy policy, informing customers about data collection, usage, and protection measures.li>
            <li><strong>Account Security Measures:</strong>  Implement robust authentication mechanisms for customer accounts, including strong password requirements and optional two-factor authentication, to enhance the security of individual accounts.</li>
            <li><strong>Limited Employee Access:</strong> Restrict access to customer data to only essential personnel, ensuring that employees can only access information necessary for their specific roles, minimizing the risk of unauthorized access.</li>
            <li><strong>Data Deletion Options:</strong> Provide customers with the option to delete their account and associated data, respecting their right to have personal information removed from the bookshop's records.</li>
            <li><strong>Respect for Privacy:</strong> Your privacy is a fundamental aspect of your journey in exploring literature with us.</li>
        </ul>
    </div>
</div>



